<h2>{{ problem }}</h2>

{% if images %}
    {% for file in images %}

        {% if file.endswith('.pdf') %}
            <!-- PDF -->
            <iframe 
                src="{{ url_for('static', filename='images/documents/' + safe_problem + '/' + file) }}" 
                width="100%" 
                height="600px">
            </iframe>

        {% else %}
            <!-- 圖片 -->
            <img 
                src="{{ url_for('static', filename='images/documents/' + safe_problem + '/' + file) }}" 
                width="500">
        {% endif %}

    {% endfor %}
{% else %}
    <p>尚無資料</p>
{% endif %}